<section id="explore">
  <div class="col-sm-12">
      <div class="col-sm-12 bottom30">
          <%= form_tag posts_new_path, method: :post, class: 'form-horizontal' do%>
              <div class="col-sm-10">
                  <%= text_area_tag :post, '', class: "form-control", resizable: false, placeholder: "O que voce esá pensando?"%>
              </div>
              <div class="col-sm-1">
                  <%= button_tag(type: :submit, class: 'btn btn-sm btn-vita btn-vita-primary') do %>
                    Postar
                  <% end %>
              </div>
          <% end %>
      </div>
      <div class="col-sm-12 posts">
          <ul class="posts">
            <%= render partial: 'post', collection: @posts%>
          </ul>
      </div>
  </div>
</section>
